git+https://github.com/pallets/secure-cookie.git
git+https://github.com/mattupstate/flask-mail.git
git+https://github.com/tkrajina/gpxpy.git
git+https://github.com/ExploreWilder/srtm.py@EarthDataLogin
git+https://github.com/maxcountryman/flask-seasurf.git
wheel
Flask
Pillow
Flask-Markdown
Flask-Mail
PyMySQL
exifread
pytest
coverage
flask-talisman
pathlib
requests
Werkzeug
cryptography
pyproj
Flask-Caching
sentry-sdk[flask]==0.16.2
twython
pyquadkey2
polyline
