<div id="modal-amazon-affiliate-links" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">This Product is on Amazon!</h4>
            </div>
            <div class="modal-body">
                <h3 class="amazon-product-name text-center"></h3>
                <p>I found this product on different Amazon marketplaces, feel free to visit yours. If you purchase through these links I could make a small commission at no cost to you. Since I only share products I have or like, feel free to ask me any question or review.</p>
                <ul id="list-amazon-affiliate-links">
                </ul>
                <p>Your country is not in the list? No worries, the listed marketplace would redirect you anyway. Just click on your closest marketplace, f.i. if you live in Ireland, click on the amazon.co.uk link if existing, otherwise the amazon.com link.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
