<div id="cookie-policy-consent" aria-live="polite" aria-atomic="true">
    <div class="toast fade in" role="alert" data-autohide="false">
        <div class="toast-header">
            <i class="fas fa-cookie-bite"></i>
            <strong class="mr-auto ml-2">Cool Cookies</strong>
        </div>
        <div class="toast-body">
            <p>Do you accept my cookies to stay in your browser to help me understand better how awesome and popular is this website? There is no third-party cookies and no profiling!</p>
            <div class="container p-0">
                <div class="row">
                    <p class="col-md-auto m-0">
                        <a href="#" class="align-middle onclick-open-modal-privacy-policy">
                            Privacy Policy
                        </a>
                    </p>
                    <div class="col text-right">
                        <button type="button"
                                class="btn btn-outline-success btn-sm"
                                data-accept="true"
                                data-dismiss="toast">
                            Yeah! <i class="far fa-smile"></i>
                        </button>
                        <button type="button"
                                class="btn btn-outline-danger btn-sm"
                                data-accept="false"
                                data-dismiss="toast">
                            No! <i class="far fa-tired"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
