<div id="modal-copyright" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Copyright © 2015-{{current_year}} by {{ config.LEGAL_NAME }}</h4>
            </div>
            <div class="modal-body">
                <h3>English</h3>
                <p>
                    All rights reserved.<br />
                    No part of this website in private access may be reproduced, distributed, or transmitted in any form or by any means. Brief quotations or captures (screenshots) are NOT permitted. If you are not sure what is in public or private access, please logout so that you should not be able to see private stuff, thus you could use and share things accordingly to its licences. Moreover, please keep your App Token as much private as your password. Thanks!
                </p>
                <hr />
                <h3>Français</h3>
                <p>
                    Tous droits réservés.<br />
                    Rien de ce site web en accès privé ne peut être reproduit, distribué, ou transmit d'un quelconque format ou moyen. Toutes citations ou captures (d'écrans) sont interdite. Si vous doutez de ce qui est en accès public ou privé, merci de vous déconnecter (<em>logout</em>) pour ne plus voir de contenus privés. Vous pourrez alors copier et partager des choses à condition de suivre leurs licences respectives. De plus, votre <em>App Token</em> et tout aussi personnel que votre mot de passe. Merci !
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-check"></i> Okay</button>
            </div>
        </div>
    </div>
</div>
