<div class="form-label-group">
    <label for="subject">Subject:</label><br />
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                tabindex="3"
                id="dropdownMenuSubject"
                data-toggle="dropdown" 
                aria-haspopup="true"
                aria-expanded="true">
            Select...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu checkbox-menu-subject allow-focus"
            aria-labelledby="dropdownMenuSubject">
            <li class="active">
                <label>
                    <input type="checkbox" name="subject-is-hello" checked> Hello Clement!
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="subject-is-friendly-feedback"> Friendly Feedback
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="subject-is-love-letter-or-poem"> Love Letter or Poem
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="subject-is-partnership-or-sponsorship"> Partnership or Sponsorship
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="subject-is-fine-art-print-enquiry"> Fine Art Print Enquiry
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="subject-is-ebook-or-hard-copy-enquiry"> eBook or Hard Copy Enquiry
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="subject-is-technical-feedback-or-bug-report"> Technical Feedback or Bug Report
                </label>
            </li>
        </ul>
    </div>
</div>
