<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head></head>
    <body>
        <h1>{{ subject }}</h1>
        <p>
            {{ welcome }}
        </p>
        <p>
            In order to access more pictures and information, please create a password by following this link:
            <a href="{{ url_create_password }}"><strong>create my password</strong></a>.
            Then, you will be able to <a href="{{ request.host_url }}login">login</a>.
        </p>
        <p>
            Should you need more information or help, Please feel free to contact back.
        </p>
        <p>
            Cheers,<br />
            {{ config.LEGAL_NAME }} from <a href="{{ request.host_url }}" title="Visit {{ config.BRAND_NAME }}">{{ config.BRAND_NAME }}</a><br />
            P.S.: You can reply to this email.
        </p>
        <p style="text-align: center; color: gray; font-size: 0.8em;">
            <a href="{{ url_unsubscribe }}" style="color: gray; text-decoration: none;" title="Delete my account">Delete my account</a> &#183;
            <a href="{{ request.host_url }}about" style="color: gray; text-decoration: none;" title="Privacy Policy">Privacy</a>
        </p>
    </body>
</html>
