<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="none" />
        <title>Page Not Found or Access Denied | {{ config.BRAND_NAME }}</title>
    </head>
    <body>
        <div style="text-align: center">
            <h2>Page Not Found or Access Denied</h2>
            <p>Feel free to <a href="/about">contact me</a> or visit the <a href="/index">home page</a>.</p>
            <p><small><a href="https://explorewilder.statuspage.io/" target="_blank">Status Page</a></small></p>
        </div>
    </body>
</html>
