{% extends "layout.html" %}
{% block title %}Map Viewer, {{ country }} version{% endblock %}
{% block extra_header_items %}
    <a href="{{ url_player_map }}" class="btn btn-success btn-sm" role="button"><i class="fas fa-globe"></i> Switch to 3D view</a>
{% endblock %}
{% block extra_tags %}
    <link href="https://opentopomap.org/" rel="dns-prefetch" />
    <link href="https://api.mapbox.com/" rel="dns-prefetch" />
    <link href="/static/dist-{{ config.STATIC_PACKAGE.version }}/css/map_viewer.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div id="map"></div>

    <div id="menu" title="Menu">
        <p>
            Basemap:
            <label
                for="country-specific-layers"
                title="Official government data">Country Specific</label>
            <input type="radio" name="layer" id="country-specific-layers" />
            <label
                for="worldwide-layers"
                title="Worldwide harmonised data">Worldwide</label>
            <input type="radio" name="layer" id="worldwide-layers" />
        </p>
        <p>
            Aerial Imagery Basemap Opacity (<span id="opacity-slider-value">50</span>%):
        </p>
        <div id="opacity-slider"></div>
        <p>Zoom:
            <button id="zoom-in">Zoom in</button>
            <button id="zoom-out">Zoom out</button>
        </p>
        <p class="attribution">
            Application (c) <a href="/about" target="_blank" title="Read the copyright notice">{{ config.LEGAL_NAME }}</a><br />
            Country specific tiles (c)
            {% if country == "NZ" %}
                <a href="http://data.linz.govt.nz" target="_blank" title="Find out more">LINZ</a>
                (<a href="https://creativecommons.org/licenses/by/3.0/"
                target="_blank"
                title="Read the copyright notice">CC-BY 3.0</a>)
            {% elif country == "FR" %}
                IGN
            {% elif country == "CA" %}
                <a href="https://open.canada.ca/en/open-government-licence-canada" title="Find out more">Open Government Licence - Canada</a> (topo),
                <a href="https://www.mapbox.com/about/maps/" title="Find out more">Mapbox</a> (satellite)
            {% elif country == "NO" %}
                <a href="http://www.kartverket.no/" title="Find out more">Kartverket</a> (topo),
                <a href="https://www.mapbox.com/about/maps/" title="Find out more">Mapbox</a> (satellite)
            {% endif %}<br />
            Worldwide tiles (c)
            <a href="https://opentopomap.org" title="Find out more">OpenTopoMap</a>
            (<a href="https://creativecommons.org/licenses/by-sa/3.0/" title="Read the copyright notice">CC-BY-SA 3.0</a>),
            <a href="https://www.mapbox.com/about/maps/" title="Find out more">Mapbox</a> (satellite)
        </p>
    </div>

    <div id="gpx-info" title="Track Info">
        <ul id="gpx-info-list"></ul>
        <!-- https://www.chartjs.org/docs/latest/general/responsive.html -->
        <div id="elevation-chart-container" style="position: relative; width: calc(600px - 2em); min-height: 300px;">
            <canvas id="elevation-chart"></canvas>
        </div>
    </div>

    <div id="download-gpx" title="Download GPX">
        {% if gpx_download_path %}
            <p>
                The GPX file is just for you and <a href="/about" target="_blank" title="Read the copyright notice">copyright {{ config.LEGAL_NAME }}</a>.
            </p>
            <p>
                <a class="ui-button ui-widget ui-corner-all" href="{{ gpx_download_path }}">Download Raw GPX File</a>
            </p>
        {% else %}
            <p>
                Only members can download GPX files.
            </p>
            <p>
                <a class="ui-button ui-widget ui-corner-all" href="/login" target="_blank">Sign in</a>
            </p>
        {% endif %}
    </div>

    <button id="goto-gpx-info" title="Open Track Info">Track Info</button>
    <button id="goto-menu" title="Open Settings &amp; Attributions">Menu</button>
    <button id="goto-download-gpx" title="Download Raw GPX File">Download GPX</button>

    <div id="tooltip-waypoint" title=""></div>
    {% if not "subscribed" in session %}
        {% include "subscribe_newsletter.html" %}
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    <script nonce="{{ csp_nonce() }}" src="/static/dist-{{ config.STATIC_PACKAGE.version }}/js/map_viewer.vendor.bundle.js"></script>
    <script nonce="{{ csp_nonce() }}">
        MAPBOX_PUB_KEY="{{ config.MAPBOX_PUB_KEY }}";
    </script>
    <script nonce="{{ csp_nonce() }}" src="/static/dist-{{ config.STATIC_PACKAGE.version }}/js/map_viewer.app.bundle.js"></script>
{% endblock %}
