{% extends "layout.html" %}
{% block title %}Map Viewer, {{ country }} version{% endblock %}
{% block extra_tags %}
    <!-- preconnect to the default supplier: -->
    <link href="https://tiles.maps.eox.at" rel="preconnect" crossorigin>
    <link href="https://tiles.maps.eox.at" rel="dns-prefetch" />

    <!-- prefetch a well used supplier: -->
    <link href="https://api.mapbox.com/" rel="dns-prefetch" />

    <link href="/static/dist-{{ config.STATIC_PACKAGE.version }}/css/map_viewer.css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <nav id="subnav"
         class="navbar navbar-expand-md navbar-dark fixed-top py-3"
         role="navigation">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#subNavbarNav"
                aria-controls="subNavbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="subNavbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_player_map }}"
                       data-toggle="tooltip"
                       class="btn btn-info ml-3"
                       title="Load the real 3D map player"
                       role="button">
                        <i class="fas fa-globe"></i>
                        Switch to 3D view
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       id="goto-gpx-info"
                       data-toggle="tooltip"
                       class="btn btn-info ml-3"
                       title="Track Information"
                       role="button"
                       aria-controls="#gpxInfo">
                        <i class="fas fa-chart-area"></i>
                        Track Info
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       id="goto-download-gpx"
                       data-toggle="tooltip"
                       class="btn btn-info ml-3"
                       title="Download Raw GPX File"
                       role="button"
                       aria-controls="#downloadGPX">
                        <i class="fas fa-download"></i>
                        Download GPX
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       id="goto-menu"
                       data-toggle="tooltip"
                       class="btn btn-info ml-3"
                       title="Layers Settings &amp; Attributions"
                       role="button"
                       aria-controls="#menuLayers">
                        <i class="fas fa-layer-group"></i>
                        Layers
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="below2navs map-viewer-interface mr-3">
        <div id="menuLayers" class="card card-menu">
            <div class="card-header">
                <i class="fas fa-layer-group"></i>
                Layers
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <fieldset id="basemap-selection">
                    <legend>Basemap</legend>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 p-0">
                                <input type="radio" name="layer" id="country-specific-layers" checked />
                                <label for="country-specific-layers">Country Specific</label>
                                <abbr data-toggle="tooltip"
                                    title="Government maps (like the hard copies available in local stores)"
                                    class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                            </div>
                            <div class="col-lg-6 p-0">
                                <input type="radio" name="layer" id="worldwide-layers" />
                                <label for="worldwide-layers">Worldwide</label>
                                <abbr data-toggle="tooltip"
                                    title="Harmonised maps with global coverage"
                                    class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 p-0">
                            <fieldset id="topo-layer-selection" class="mr-lg-2">
                                <legend>Topo Layer</legend>
                                <input type="radio" name="topo-layer" id="topo-otm" checked />
                                <label for="topo-otm">OpenTopoMap</label>
                                <abbr data-toggle="tooltip"
                                      title="My recommendation for hiking on several countries (available for Garmin GPS)"
                                      class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                                <br />
                                <input type="radio" name="topo-layer" id="topo-thunderforest-outdoors" />
                                <label for="topo-thunderforest-outdoors">Thunderforest Outdoors</label>
                                <abbr data-toggle="tooltip"
                                    title="Emphasise hiking routes, ski runs and many useful points of interest"
                                    class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                                <br />
                                <input type="radio" name="topo-layer" id="topo-thunderforest-landscape" />
                                <label for="topo-thunderforest-landscape">Thunderforest Landscape</label>
                                <abbr data-toggle="tooltip"
                                      title="Emphasises natural features"
                                      class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 p-0">
                            <fieldset id="aerial-layer-selection" class="ml-lg-3">
                                <legend>Aerial Layer</legend>
                                <input type="radio" name="aerial-layer" id="aerial-eox" checked />
                                <label for="aerial-eox">EOxCloudless (2019)</label>
                                <abbr data-toggle="tooltip"
                                    title="Probably the most recent satellite imagery (from Sentinel-2 Cloudless)"
                                    class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                                <br />
                                <input type="radio" name="aerial-layer" id="aerial-mapbox" />
                                <label for="aerial-mapbox">Mapbox</label>
                                <abbr data-toggle="tooltip"
                                    title="Best coverage and super high resolution"
                                    class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                                <br />
                                <input type="radio" name="aerial-layer" id="aerial-bing" />
                                <label for="aerial-bing">Bing</label>
                                <abbr data-toggle="tooltip"
                                    title="High quality and high contrast aerial imagery from the best suppliers"
                                    class="layer-info"><i class="fas fa-info-circle"></i></abbr>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="my-2 text-center">
                    <label for="opacity-slider">
                        Aerial Imagery Basemap Opacity (<span id="opacity-slider-value">50</span>%):
                    </label><br />
                    <input type="range" id="opacity-slider" name="opacity-slider" min="0" max="100" />
                </div>
            </div>
        </div>
        {% include "map_dialog_gpx_info.html" %}
    </div>

    <div id="map"></div>

    {% include "map_dialog_download_gpx.html" %}

    <div id="tooltip-waypoint" title=""></div>
    {% if not "subscribed" in session %}
        {% include "subscribe_newsletter.html" %}
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    <script nonce="{{ csp_nonce() }}" src="/static/dist-{{ config.STATIC_PACKAGE.version }}/js/map_viewer.vendor.bundle.js"></script>
    <script nonce="{{ csp_nonce() }}">
        MAPBOX_PUB_KEY="{{ config.MAPBOX_PUB_KEY }}";
    </script>
    <script nonce="{{ csp_nonce() }}" src="/static/dist-{{ config.STATIC_PACKAGE.version }}/js/map_viewer.app.bundle.js"></script>
{% endblock %}
