<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <h1 class="text-left">Follow My Adventures</h1>
            <ul class="networks">
                <li><a class="tooltip-networks" rel="me" href="https://photog.social/@explorewilder" data-toggle="tooltip" title="ExploreWilder on Mastodon" target="_blank"><i class="fab fa-mastodon fa-3x"></i></a></li>
                <li><a class="tooltip-networks" href="https://twitter.com/ExploreWilder" data-toggle="tooltip" title="ExploreWilder on Twitter" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
                <li><a class="tooltip-networks" href="https://www.patreon.com/explorewilder" data-toggle="tooltip" title="Exclusive content and more with Patreon" target="_blank"><i class="fab fa-patreon fa-3x"></i></a></li>
                <li><a class="tooltip-networks" href="https://pixelfed.social/explorewilder" data-toggle="tooltip" title="ExploreWilder on Pixelfed" target="_blank"><i class="fab fa-3x"><img class="pixelfed-logo" src="/static/images/pixelfed-icon-grey.svg" alt="" /></i></a></li>
            </ul>
        </div>
        <div class="col-md-6 p-0">
            <h1 class="text-right">Support Me</h1>
            <div class="text-right">
                <a class="hvr-wobble-horizontal d-block" href="https://ko-fi.com/explorewilder" target="_blank">
                    <img src="/static/images/BuyMeACoffee.png" alt="Buy Me a Coffee at ko-fi.com" />
                </a>
                <a class="hvr-wobble-horizontal d-block mt-2" href="https://www.patreon.com/explorewilder" target="_blank">
                    <img src="/static/images/become_a_patron_button.png" alt="Become a Patron" />
                </a>
                <p class="mt-2">
                    <a data-toggle="modal" href="#modal-support-me">
                        Why <i class="fas fa-question-circle"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
