<p>Do you like my pictures? Do you enjoy my adventures?<br />
If you do, your support is highly appreciated, and rewarded!<br />
If you don't, please tell me why thanks to the <a href="/about">contact form</a>.</p>
<p>I share everything for free, for you, for the world! This website is ad-free and privacy super friendly. Your donation would help me to pay the hosting fee and the domain name. But it isn't just about money, it's really motivating! Without your support, I would think that sharing hundreds of pictures and years of adventures doesn't worth a coffee. With your support, I will keep sharing more and better content!</p>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title text-center">Ko-fi</h5>
        <p class="card-text"><a href="https://ko-fi.com/about" title="What is Ko-fi?" rel="noopener noreferrer" target="_blank">ko-fi.com</a> is a platform designed to support artists with one-off donations. The minimum amount is worth an espresso: 3€. Just one donation and a friendly message would be enough for a <strong>lifetime exclusive access</strong> to this website! For more information, visit my ko-fi page:</p>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <a class="tooltip-support hvr-wobble-horizontal trigger-bg-colors"
               href="https://ko-fi.com/explorewilder"
               data-toggle="tooltip"
               title="Buy Me a <i class='fas fa-coffee'></i> at ko-fi.com"
               rel="noopener noreferrer"
               target="_blank">
                <img src="/static/images/BuyMeACoffee.png" alt="Buy Me a Coffee at ko-fi.com" />
            </a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Patreon</h5>
        <p class="card-text">Be my sponsor! Consider becoming a <a href="https://support.patreon.com/hc/en-us/articles/204606315-What-is-Patreon-" title="What is Patreon?" rel="noopener noreferrer" target="_blank">Patron</a> with a monthly donation. You will have a <strong>lifetime exclusive access</strong> to this website plus extra content depending on your donation. Find out more on my Patreon page:</p>
    </div>
    <div class="card-footer">
        <div class="text-center">
            <a class="tooltip-support hvr-wobble-horizontal trigger-bg-colors"
               href="https://www.patreon.com/explorewilder"
               data-toggle="tooltip"
               title="Exclusive content and more with Patreon"
               rel="noopener noreferrer"
               target="_blank">
                <img src="/static/images/become_a_patron_button.png" alt="Become a Patron" />
            </a>
        </div>
    </div>
</div>
