{% extends "layout.html" %}
{% block title %}QMapShack{% endblock %}
{% block body %}
    <div id="outer-bg-body" data-bgsrc="/static/images/backgrounds/login.jpg"><div id="inner-bg-body"></div></div>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-8 offset-xl-2">
                <div class="my-4 shadow p-3 bg-light rounded">
                    <h1 class="text-center">QMapShack</h1>
                    <h5 class="text-center my-3">
                        Plan, edit, and share tracks on interactive and immersive maps.
                    </h5>
                    <p class="text-justify">
                        If you like the <a href="https://github.com/Maproom/qmapshack/wiki" rel="noopener noreferrer" target="_blank">QMapShack</a> desktop application, and the 3D map player available in my stories, then you would also like <a href="https://github.com/ExploreWilder/qmapshack/tree/3D" rel="noopener noreferrer" target="_blank"><em>QMapShack by ExploreWilder</em></a> combining both! Notice that my implementation of QMapShack is only available on a GNU/Linux-based operating system such as Ubuntu. Only the source code of the application is currently available, so you will have to compile the project by yourself. Good luck and have a great experience!
                    </p>
                    <p class="text-center mt-4">Currently supported operating systems:</p>
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-4 offset-2">
                                <img src="/static/images/qmapshack/UbuntuLogo.png" alt=" " class="mb-2" /><br />
                                <strong>Ubuntu</strong>
                            </div>
                            <div class="col-4">
                                <img src="/static/images/qmapshack/DebianLogo.png" alt=" " class="mb-2" /><br />
                                <strong>Debian</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col mx-4">
                <img src="/static/images/qmapshack/overview.webp" alt="Screenshot" class="img-fluid rounded shadow mx-auto d-block" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="col">
                <div class="my-4 shadow p-3 bg-light rounded">
                    <h1 class="text-center">Play Now</h1>
                    <h5 class="text-center my-3">
                        Access to commercial-grade and government maps and data.
                    </h5>
                    {% if not is_logged %}
                        <p class="text-justify">
                            If you want access to commercial-grade and government maps and data, please sign in. You can either spend time looking for good maps and digital elevation models, and register to data suppliers one by one, and connect them to the software, or simply use an ExploreWilder account to have one token to bring them all and in the application bind them. With this account, the application is ready to use. Configuration will be required otherwise. Don't get too excited just yet since this software version might be unstable with great but incomplete datasets depending on your country.
                        </p>
                        <h5 class="text-center my-3">
                            Ready to use maps:
                        </h5>
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h6 class="text-center mb-3">
                                    <strong>2D maps:</strong>
                                </h6>
                                <ul class="list-group">
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <span>
                                            <img src="/static/images/qmapshack/OpenTopoMapLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">
                                                <a href="https://opentopomap.org"
                                                   target="_blank"
                                                   rel="noopener noreferrer">OpenTopoMap</a>
                                                +
                                                <a href="https://hiking.waymarkedtrails.org"
                                                   target="_blank"
                                                   rel="noopener noreferrer">Waymarked Trails Hiking</a>
                                            </span>
                                        </span>
                                        <span data-toggle="tooltip"
                                              title="© OpenStreetMap contributors, ODbL | Rendering: © OpenTopoMap, CC-BY-SA | Trails: © Waymarked Trails"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.thunderforest.com/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/ThunderforestLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">Thunderforest</span>
                                        </a>
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© OpenStreetMap contributors, ODbL | Rendering: © Thunderforest, under CC-BY-SA 2.0"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.linz.govt.nz/land/maps"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/LINZLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">New Zealand Topo50 (LINZ)</span>
                                        </a>
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© LINZ, under CC-BY 4.0"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.ign.fr/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/IGNLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">France Topo25 (IGN)</span>
                                        </a>
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© IGN (Institut national de l’information géographique et forestière)"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.ign.fr/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/IGNLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">France Aerial Imagery (IGN)</span>
                                        </a>
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© IGN (Institut national de l’information géographique et forestière)"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.kartverket.no/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/KartverketLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">Norway Topo (Kartverket)</span>
                                        </a>
                                        <span data-toggle="tooltip"
                                              title="© Kartverket"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://doc.arcgis.com/en/data-appliance/6.4/maps/world-imagery.htm"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/ArcGISLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">ArcGIS World Imagery</span>
                                        </a>
                                        <span data-toggle="tooltip"
                                              title="© Esri, DigitalGlobe, i-cubed, USDA FSA, USGS, GeoEye, Getmapping, AEX, AeroGRID, IGN, IGP, swisstopo, UPR-EGP, and the GIS community"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h6 class="text-center mb-3">
                                    <strong>3D maps:</strong>
                                </h6>
                                <p class="text-center text-muted">Aerial Imagery:</p>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.microsoft.com/en-us/maps"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/BingMapsLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">Microsoft Bing Aerial</span>
                                        </a>
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© Microsoft Corporation"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.mapbox.com/maps/satellite/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/MapboxLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">Mapbox Satellite</span>
                                        </a>
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© Mapbox"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://doc.arcgis.com/en/data-appliance/6.4/maps/world-imagery.htm"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/ArcGISLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">ArcGIS World Imagery</span>
                                        </a>
                                        <span data-toggle="tooltip"
                                              title="© Esri, DigitalGlobe, i-cubed, USDA FSA, USGS, GeoEye, Getmapping, AEX, AeroGRID, IGN, IGP, swisstopo, UPR-EGP, and the GIS community"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://eox.at/2020/03/sentinel-2-cloudless-2019/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/EOXLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">EOX Sentinel-2 Cloudless 2019</span>
                                        </a>
                                        <span data-toggle="tooltip"
                                              title="© EOX IT Services GmbH"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </li>
                                    <li class="list-group-item p-1 d-flex justify-content-between align-items-center">
                                        <a href="https://www.ign.fr/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <img src="/static/images/qmapshack/IGNLogo.png" alt=" " class="mx-2" />
                                            <span class="pt-1">France Aerial Imagery (IGN)</span>
                                        </a>
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© IGN (Institut national de l’information géographique et forestière)"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                                <p class="text-center">
                                    <span class="text-muted">Digital Elevation Model:</span><br />
                                    Jonathan de Ferranti
                                </p>
                                <p class="text-center">
                                    <span class="text-muted">Geodata:</span><br />
                                    <a href="https://www.openstreetmap.org/about"
                                       target="_blank"
                                       rel="noopener noreferrer">OpenStreetMap</a>,
                                    <a href="http://www.peaklist.org"
                                       target="_blank"
                                       rel="noopener noreferrer">Peaklist</a>,
                                    <a href="https://www.maptiler.com/"
                                       target="_blank"
                                       rel="noopener noreferrer">MapTiler</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    {% if is_logged %}
                        <form class="mx-auto form-token" style="max-width: 450px;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="token">
                                        Your Token:
                                    </span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="none"
                                       aria-label="token"
                                       aria-describedby="token"
                                       id="token-output"
                                       value="{{ token }}"
                                       readonly
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text" style="display: {% if token %}inline{% else %}none{% endif %};">
                                        <a href="#"
                                           id="onclick-copy-token"
                                           title="Copy to clipboard"
                                           data-toggle="tooltip"
                                        >
                                            <i class="fas fa-copy text-success"></i>
                                        </a>
                                    </span>
                                    <span class="input-group-text {% if not token %}rounded-right{% endif %}">
                                        <a href="#"
                                           id="onclick-generate-token"
                                           title="Generate"
                                           data-toggle="tooltip"
                                        >
                                            <i class="fas fa-sync text-warning"></i>
                                        </a>
                                    </span>
                                    <span class="input-group-text" style="display: {% if token %}inline{% else %}none{% endif %};">
                                        <a href="#"
                                           id="onclick-delete-token"
                                           title="Delete"
                                           data-toggle="tooltip"
                                        >
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <p class="text-center small">
                            (<a href="#" class="onclick-open-modal-copyright">keep this token to yourself</a>)
                        </p>
                    {% else %}
                        <div class="text-center mb-3">
                            <a href="/login"
                               class="btn btn-success mt-1 trigger-bg-colors"
                               role="button">
                                <i class="fas fa-sign-in-alt"></i>
                                Login
                            </a>
                            <a href="/about"
                               class="btn btn-success mt-1 trigger-bg-colors"
                               role="button">
                                <i class="far fa-envelope"></i>
                                Contact me
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header">
                <strong class="mr-auto toast-title"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-body"></div>
        </div>
    </div>
    {% include "copyright_notice.html" %}
{% endblock %}
