{% extends "layout.html" %}
{% block title %}QMapShack3D{% endblock %}
{% block body %}
    <div id="outer-bg-body" data-bgsrc="/static/images/backgrounds/login.jpg"><div id="inner-bg-body"></div></div>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-8 offset-xl-2">
                <div class="my-4 shadow p-3 bg-light rounded">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 p-0">
                                <img src="/static/images/qmapshack/QMapShack.png" alt=" " class="rounded" />
                            </div>
                            <div class="col-lg-10 p-0">
                                <h1 class="text-center mt-3">QMapShack3D</h1>
                                <h5 class="text-center my-3">
                                    Plan, edit, and share tracks on interactive and immersive maps.
                                </h5>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p class="text-center"><strong>Key Features:</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fas fa-check mr-2"></i>
                            Load online/offline maps,
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check mr-2"></i>
                            Commercial-grade and government maps and data ready to use,
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check mr-2"></i>
                            Highly configurable 2D map viewer and a real 3D world,
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check mr-2"></i>
                            Support for tracks, routes, waypoints and areas,
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check mr-2"></i>
                            Create, edit, save GPX files and other formats.
                        </li>
                    </ul>
                    <div class="alert alert-info" role="alert">
                        <i class="fas fa-info-circle mr-2"></i>
                        Basically, QMapShack3D is <a href="https://github.com/Maproom/qmapshack/wiki" target="_blank" rel="noopener noreferrer" class="alert-link">QMapShack</a> plus 3D and maps.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col mx-4">
                <img src="/static/images/qmapshack/overview.webp" alt="Screenshot" class="img-fluid rounded shadow mx-auto d-block" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="col">
                <div class="my-4 shadow p-3 bg-light rounded">
                    <h1 class="text-center">Play Now</h1>
                    <h5 class="text-center my-3">
                        Access to commercial-grade and government maps and data.
                    </h5>
                    {% if not is_logged %}
                        <p class="text-justify">
                            If you want access to commercial-grade and government maps and data, please sign in. You can either spend time looking for good maps and digital elevation models, and register to data suppliers one by one, and connect them to the software, or simply use an ExploreWilder account to have one token to bring them all and in the application bind them. With this account, the application is ready to use. Configuration will be required otherwise.
                        </p>
                        <h5 class="text-center my-3">
                            Available maps &amp; data:
                        </h5>
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">2D</th>
                                    <th scope="col">3D</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Coverage</th>
                                    <th scope="col">Integrated Map</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td>Topo + Geodata</td>
                                    <td>Global</td>
                                    <td>
                                        <a href="https://opentopomap.org"
                                           target="_blank"
                                           rel="noopener noreferrer">OpenTopoMap</a>
                                        +
                                        <a href="https://hiking.waymarkedtrails.org"
                                           target="_blank"
                                           rel="noopener noreferrer">Waymarked Trails Hiking</a>
                                    </td>
                                    <td class="text-right">
                                        <span data-toggle="tooltip"
                                              title="© OpenStreetMap contributors, ODbL | Rendering: © OpenTopoMap, CC-BY-SA | Trails: © Waymarked Trails"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td>Topo</td>
                                    <td>Global</td>
                                    <td>
                                        <a href="https://www.thunderforest.com/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">Thunderforest</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© OpenStreetMap contributors, ODbL | Rendering: © Thunderforest, under CC-BY-SA 2.0"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td>Topo</td>
                                    <td>New Zealand</td>
                                    <td>
                                        <a href="https://www.linz.govt.nz/land/maps"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">New Zealand Topo50 (LINZ)</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© LINZ, under CC-BY 4.0"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td>Topo</td>
                                    <td>Norway</td>
                                    <td>
                                        <a href="https://www.kartverket.no/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">Norway Topo (Kartverket)</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span data-toggle="tooltip"
                                              title="© Kartverket"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td>Topo</td>
                                    <td>France</td>
                                    <td>
                                        <a href="https://www.ign.fr/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">France Topo25 (IGN)</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© IGN (Institut national de l’information géographique et forestière)"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>Aerial</td>
                                    <td>France</td>
                                    <td>
                                        <a href="https://www.ign.fr/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">France Aerial Imagery (IGN)</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© IGN (Institut national de l’information géographique et forestière)"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>Aerial</td>
                                    <td>Global</td>
                                    <td>
                                        <a href="https://doc.arcgis.com/en/data-appliance/6.4/maps/world-imagery.htm"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">ArcGIS World Imagery</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span data-toggle="tooltip"
                                              title="© Esri, DigitalGlobe, i-cubed, USDA FSA, USGS, GeoEye, Getmapping, AEX, AeroGRID, IGN, IGP, swisstopo, UPR-EGP, and the GIS community"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>Aerial</td>
                                    <td>Global</td>
                                    <td>
                                        <a href="https://www.microsoft.com/en-us/maps"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">Microsoft Bing Aerial</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© Microsoft Corporation"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>Aerial</td>
                                    <td>Global</td>
                                    <td>
                                        <a href="https://www.mapbox.com/maps/satellite/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">Mapbox Satellite</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span>
                                            <span data-toggle="tooltip"
                                                  title="ExploreWilder members only"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="fas fa-user-lock"></i>
                                            </span>
                                            <span data-toggle="tooltip"
                                                  title="© Mapbox"
                                                  class="mr-1 qmapshack-copyright-top">
                                                <i class="far fa-copyright"></i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>Aerial</td>
                                    <td>Global</td>
                                    <td>
                                        <a href="https://eox.at/2020/03/sentinel-2-cloudless-2019/"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">EOX Sentinel-2 Cloudless 2019</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span data-toggle="tooltip"
                                              title="© EOX IT Services GmbH"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td><abbr title="Digital Elevation Model">DEM</abbr></td>
                                    <td>Global</td>
                                    <td>
                                        <a href="http://viewfinderpanoramas.org/dem3.html"
                                           target="_blank"
                                           rel="noopener noreferrer">
                                            <span class="pt-1">Jonathan de Ferranti</span>
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <span data-toggle="tooltip"
                                              title="© Jonathan de Ferranti"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span data-toggle="tooltip"
                                              title="Ready to use"
                                              class="qmapshack-copyright-top">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td>Geodata</td>
                                    <td>Global</td>
                                    <td>
                                        <a href="https://www.openstreetmap.org/about"
                                           target="_blank"
                                           rel="noopener noreferrer">OpenStreetMap</a> +
                                        <a href="http://www.peaklist.org"
                                           target="_blank"
                                           rel="noopener noreferrer">Peaklist</a> +
                                        <a href="https://www.maptiler.com/"
                                           target="_blank"
                                           rel="noopener noreferrer">MapTiler</a>
                                    </td>
                                    <td class="text-right">
                                        <span data-toggle="tooltip"
                                              title="© OpenStreetMap under ODbL, peaklist.org, MapTiler"
                                              class="mr-1 qmapshack-copyright-top">
                                            <i class="far fa-copyright"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-info" role="alert">
                            <i class="fas fa-info-circle mr-2"></i>
                            You can <a href="https://github.com/Maproom/qmapshack/wiki/DocBasicsMapDem" target="_blank" rel="noopener noreferrer" class="alert-link">configure the application</a> to add online/offline 2D maps. 3D maps could be added <a href="/about" class="alert-link">upon request</a>.
                        </div>
                    {% endif %}
                    <hr class="my-4">
                    {% if is_logged %}
                        <form class="mx-auto form-token" style="max-width: 450px;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="token">
                                        Your Token:
                                    </span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       placeholder="none"
                                       aria-label="token"
                                       aria-describedby="token"
                                       id="token-output"
                                       value="{{ token }}"
                                       readonly
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text" style="display: {% if token %}inline{% else %}none{% endif %};">
                                        <a href="#"
                                           id="onclick-copy-token"
                                           title="Copy to clipboard"
                                           data-toggle="tooltip"
                                        >
                                            <i class="fas fa-copy text-success"></i>
                                        </a>
                                    </span>
                                    <span class="input-group-text {% if not token %}rounded-right{% endif %}">
                                        <a href="#"
                                           id="onclick-generate-token"
                                           title="Generate"
                                           data-toggle="tooltip"
                                        >
                                            <i class="fas fa-sync text-warning"></i>
                                        </a>
                                    </span>
                                    <span class="input-group-text" style="display: {% if token %}inline{% else %}none{% endif %};">
                                        <a href="#"
                                           id="onclick-delete-token"
                                           title="Delete"
                                           data-toggle="tooltip"
                                        >
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <p class="text-center small">
                            (<a href="#" class="onclick-open-modal-copyright">keep this token to yourself</a>)
                        </p>
                    {% else %}
                        <div class="text-center mb-3">
                            <a href="/login"
                               class="btn btn-success mt-1 trigger-bg-colors"
                               role="button">
                                <i class="fas fa-sign-in-alt"></i>
                                Login
                            </a>
                            <a href="/about"
                               class="btn btn-success mt-1 trigger-bg-colors"
                               role="button">
                                <i class="far fa-envelope"></i>
                                Contact me
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-8 offset-xl-2">
                <div class="mb-4 shadow p-3 bg-light rounded">
                    <h1 class="text-center">Download For Linux</h1>
                    {% set appimage_filename = 'QMapShack3D_2.0.0-1_amd64.AppImage' %}
                    {% set deb_filename = 'qmapshack3d_2.0.0-1_amd64.deb' %}
                    {% set pgp_short_id = '75CE8AD0' %}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="install-appimage-tab" data-toggle="tab" href="#install-appimage" role="tab" aria-controls="install-appimage" aria-selected="true">AppImage</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="install-deb-tab" data-toggle="tab" href="#install-deb" role="tab" aria-controls="install-deb" aria-selected="false">DEB Package</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="install-appimage" role="tabpanel" aria-labelledby="install-appimage-tab">
                            <p class="mt-4">
                                <a href="https://appimage.org/"
                                   rel="noopener noreferrer"
                                   target="_blank">What is an AppImage?</a>
                            </p>
                            <h5 class="my-3">
                                Requirements:
                            </h5>
                            <ul>
                              <li>You have a <strong>64-bit</strong> architecture</li>
                              <li>Your system is up to date</li>
                            </ul>

                            <h5 class="my-3">
                                Download:
                            </h5>
                            <p class="small text-muted mb-2">Download Size: 173 MiB</p>
                            <kbd>wget <span class="select-all">https://explorewilder.com/download/{{ appimage_filename }}</span></kbd>
                            <p class="small mt-2">
                                <a href="/download/{{ appimage_filename }}.asc"
                                   rel="noopener noreferrer"
                                   target="_blank">PGP Signature</a> / 
                                <a href="https://raw.githubusercontent.com/ExploreWilder/MainWebsite/master/public.gpg"
                                   rel="noopener noreferrer"
                                   target="_blank">My PGP Public Key</a> ({{ pgp_short_id }}) /
                                <a href="https://github.com/ExploreWilder/qmapshack/tree/3D"
                                   rel="noopener noreferrer"
                                   target="_blank">Source on GitHub</a>
                            </p>

                            <h5 class="my-3">
                                Install &amp; Run:
                            </h5>
                            <p>
                                <kbd class="select-all">chmod a+x QMapShack3D_*.AppImage</kbd> then 
                                <kbd class="select-all">./QMapShack3D_*.AppImage</kbd>
                            </p>
                            <div class="alert alert-info" role="alert">
                                <i class="fas fa-exclamation-circle mr-2"></i>
                                The AppImage has only been tested on Ubuntu Focal.
                            </div>
                        </div>
                        <div class="tab-pane fade" id="install-deb" role="tabpanel" aria-labelledby="install-deb-tab">
                            <h5 class="my-3">
                                Requirements:
                            </h5>
                            <ul>
                              <li>Your operating system is <strong>Ubuntu</strong> or <strong>Debian</strong></li>
                              <li>You have a <strong>64-bit</strong> architecture</li>
                              <li>Your system is up to date</li>
                              <li>You have admin rights</li>
                            </ul>

                            <h5 class="my-3">
                                Download:
                            </h5>
                            <p class="small text-muted mb-2">Download Size: 35 MiB</p>
                            <kbd>wget <span class="select-all">https://explorewilder.com/download/{{ deb_filename }}</span></kbd>
                            <p class="small mt-2">
                                <a href="/download/{{ deb_filename }}.asc"
                                   rel="noopener noreferrer"
                                   target="_blank">PGP Signature</a> / 
                                <a href="https://raw.githubusercontent.com/ExploreWilder/MainWebsite/master/public.gpg"
                                   rel="noopener noreferrer"
                                   target="_blank">My PGP Public Key</a> ({{ pgp_short_id }}) /
                                <a href="https://github.com/ExploreWilder/qmapshack/tree/3D"
                                   rel="noopener noreferrer"
                                   target="_blank">Source on GitHub</a>
                            </p>

                            <h5 class="my-3">
                                Install:
                            </h5>
                            <div class="alert alert-warning" role="alert">
                                <i class="fas fa-exclamation-circle mr-2"></i>
                                This will overwrite the QMapShack application if already installed.
                            </div>
                            <p><kbd class="select-all">sudo apt install ./{{ deb_filename }}</kbd></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header">
                <strong class="mr-auto toast-title"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-body"></div>
        </div>
    </div>
    {% include "copyright_notice.html" %}
{% endblock %}
